<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      HOME PAGE
    </h1>


  <h2><a href="/login">Login</a></h2>
  <h2><a href="/register">Register</a></h2>
  <h2><a href="/post">Posts</a></h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque,
    autem voluptates eveniet soluta nobis et porro, neque debitis officia
    magnam, optio ex totam pariatur in excepturi iure nihil ratione cumque
    similique quaerat at sit. Eum atque corporis minus quod, suscipit porro,
    doloremque praesentium aliquid blanditiis dolor voluptatibus inventore?
    Ipsa!
  </body>
</html>